name: Build Website
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install and Build
        run: |
          npm install
          npm run build
      - name: Upload Build
        uses: actions/upload-artifact@v3
        with:
          name: website-dist
          path: dist/
